**/.vscode/
**/obj/
**/bin/
**.db
Documentation/Requirements Document Rewriteindent.log
Documentation/Requirements Document Rewrite/.vscode/settings.json
Documentation/Requirements Document Rewrite/Requirements.synctex.gz