[Unit]
Description=.NET Web API App running on POP! OS

[Service]
WorkingDirectory=/var/aspnetcore/GoldenTicket
ExecStart=/usr/bin/dotnet GoldenTicket.dll
Restart=always
# Restart service after 10 seconds if dotnet service crashes
RestartSec=10
SyslogIdentifier=dotnet-Golden-Ticket
User=gold
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target
