@{
    ViewData["Title"] = "All Clients";
}
@using GoldenTicket.Models.ClientsViewModels
@using System.Collections.Generic
@model IEnumerable<ClientDetails>



  @foreach (var client in Model) {
   
 <div class="row container">
    <div class="col s12 m6">
      <div class="card grey darken-1 stickey-action">
        <div class="card-content white-text activator">
          <span class="card-title">@client.Client.FirstName @client.Client.LastName</span>
          <p>@client.Client.Company</p><br>
         <p>Open Tickets: @client.Tickets.Count</p> 
        </div>
      </div>
    </div>
    </div>

    }