@{
    ViewData["Title"] = Model.Title;
}
@using GoldenTicket.Models
@model Ticket

<form method="post">
        <input asp-for="Id" type="hidden">
        <label>Title</label>
        <input asp-for="Title">
        <label>Description</label>
        <input asp-for="Description">
        <label>Complexity</label>
        <input asp-for="Complexity">
        <label>Notes</label>
        <input asp-for="Notes">
        <p>
            <label>
                <input  asp-for="Open"/>
                <span>Open?</span>
            </label>
        </p>
        <input class="waves-effect waves-light btn" type="submit" value="Save">
</form>
