@using GoldenTicket.Models
@using System.Collections.Generic
@model IEnumerable<Ticket>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    @foreach (var ticket in Model) 
    {
        <tr>
            <td>
                @ticket.Title
            </td>
            <td>
                @ticket.Description
            </td>
        </tr>
    }
</table>
